.pricing {
  background: no-repeat center/cover url("../img/pricing-bg.jpg");
}

.pricing {
  text-align: center;

  &__title {
    color: $light-color;
    font-weight: bold;
  }
}

.tags-on {
   list-style: none;

  &__item {
    background-color: rgba(255, 255, 255, 0.11);
  }

  &__item:first-child {
    line-height: 18px;
  }

  &__title {
    padding-top: 36px;
    padding-bottom: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.07);
  }

  &__title,
  &__currency,
  &__regular-payments,
  &__benefits {
    color: $light-color;
  }

  &__title {
    padding-top: 36px;
    padding-bottom: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.06);
  }

  &__currency {
    display: block;
    font-size: 60px;
  }

  &__regular-payments {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__currency--number {
    font-weight: $bold-fw;
  }


  &__regular-payments::after {
    @include pseudo-elem;
    margin: 33px auto 0;
    height: 5px;
    width: 60px;
    background-color: $line-color;
  }

  &__benefits {
    font-size: 16px;
    text-transform: capitalize;
  }

  &__item--accent {
    padding-bottom: 47px;
    background-color: $currency-select;

    & > .tags-on__title {
      margin-bottom: 14px;
      padding-top: 43px;
      padding-bottom: 43px;
      background-color: rgba(0, 0, 0, 0.11);
    }

    & > .tags-on__currency {
      margin-bottom: 16px;
      font-size: 82px;
      line-height: 84px;
    }

    & > .tags-on__regular-payments::after {
      margin-top: 41px;
    }

    
    & > .tags-on__benefits {
      margin-bottom: 75px;
      line-height: 32px;
      
          & > .purchase-btn {
            padding: 19px 48px;
            font-size: 16px;
            line-height: 18px;
          }
        }
    }

}