.action-counters {
  list-style: none;

  &__item {
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
  }

  &__link,
  &__counter {
    display: inline-block;
    padding: 3px 9px;
    font-size: 12px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    line-height: 20px;
    color: #24292e;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  }

  &__link {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 700;
    background-color: #fafbfc;
    transition-property: background-color;

    &:hover {
      background-color: #f3f4f6;
    }
  }

  &__counter {
    border-left: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 600;
    transition-property: color;

    &:hover {
      color: #0366d6;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: text-top;
  }
}

