.container {
 min-width: 320px;
 margin: 0 auto;
 padding-right: 10px;
 padding-left: 10px;
}


.editor {
  text-align: center;

  &__text {
    font-family: $minor-ff;
    color: $dark-text-color;
  }

  &__title {
    font-weight: $bold-fw;
    color: $editor-title-color;
    text-transform: uppercase;
  }

}