@media screen and (max-width: 992px) {
  .tags-on {
    display: grid;
  }
}

@media screen and (max-width: 480px) {
  .pricing {
    padding-top: 12px;
    padding-bottom: 12px;

    &__title {
      margin-bottom: 32px;
      font-size: 28px;
      line-height: 42px;
    }
  }

  .tags-on {

    &__item {
      width: 257px;
    }

    &__item--accent {
      width: 299px;
    }
  }
}

@media screen and (max-width: 480px) {
  .tags-on {
    grid-template-columns: 100%;
    grid-row-gap: 18px;
    justify-items: center;

    &__item:not(:nth-child(3n)) {
      padding-bottom: 32px;
    }

    &__item:first-child {
      padding-bottom: 70px;
    }

    &__item:nth-child(even) > .tags-on__benefits {
      line-height: 28px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__currency {
      margin-bottom: 20px;
      line-height: 62px;
    }

    &__regular-payments {
      margin-bottom: 30px;
    }

    &__benefits {
      margin-bottom: 35px;
    }

    &__item--accent {

      & > .tags-on__currency {
        line-height: 84px;
      }

      & > .tags-on__regular-payments {
        margin-bottom: 33px;
      }

      & > .tags-on__benefits {
        margin-bottom: 75px;
        line-height: 32px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .tags-on {
    grid-gap: 20px 15px;

    &__item {
      width: 215px;
    }

    &__item--accent {
      width: 230px;
    }
  }
}

@media screen and (min-width: 481px) {

  .tags-on {

    &__item:not(:nth-child(3n)) {
      padding-bottom: 40px;
    }

    &__item:first-child {

      & > .tags-on__benefits {
        margin-bottom: 58px;
      }
    }

    &__item:not(:first-child) {

      & > .tags-on__benefits {
        line-height: 18px;
      }
    }

    &__item:not(:first-child):not(:nth-child(3n)) {

      & > .tags-on__benefits {
        margin-bottom: 41px;
      }
    }

    &__title {
      margin-bottom: 13px;
    }

    &__currency {
      margin-bottom: 3px;
      line-height: 90px;
    }

    &__regular-payments {
      margin-bottom: 43px;
    }

    &__item--accent {

      & > .tags-on__currency {
        line-height: 90px;
      }

      & > .tags-on__regular-payments {
        margin-bottom: 45px;
      }

      & > .tags-on__benefits {
        margin-bottom: 86px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .pricing {
    padding-top: 84px;
    padding-bottom: 94px;

    &__title {
      margin-bottom: 39px;
    }
  }
  .tags-on {

    grid-template-columns: 50% 50%;

    &__item:last-child {
      align-self: center;
    }

    &__item:nth-child(odd) {
      justify-self: end;
    }
  }
}

@media screen and (min-width: 601px) {
  .tags-on {

    &__item {
      width: 257px;
    }

    &__item--accent {
      width: 299px;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .tags-on {
    grid-gap: 30px 25px;
  }

}

@media screen and (min-width: 993px) {
  .pricing {
    padding-top: 106px;
    padding-bottom: 73px;

    &__title {
      margin-bottom: 61px;
    }
  }

  .tags-on {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 15px;
    }
  }
}
