@media screen and (max-width: 1199px) {
  .features {
    margin: 0 auto;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .features {
    margin: 0 auto;
    padding-top: 28px;
    padding-left: 10px;
    padding-bottom: 22px;
    
    &__title {
      margin-bottom: 32px;
      line-height: 38px;
      font-size: 32px;
    }

    &__list {
      margin-bottom: 54px;
      padding-right: 10px;
    }


    &__img {
      width: auto;
      max-height: 381px;
    }
  }

  .item {
    margin-bottom: 34px;
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      margin-bottom: 12px;
      line-height: 16px;
    }

    &__text {
      font-family: $minor-ff;
    }
  }
}

@media screen and (min-width: 481px) {
  .features {

    &__list {
      padding-left: 164px;
      text-align: left;
    }
  }

  .item {

    &__title {
      position: relative;
      margin-bottom: 10px;
      text-align: left;
      line-height: 21px;
    }

    &__title::before {
      position: absolute;
      left: -80px;
      transform: translate(-50%);
    }

    &__text {
      font-family: $basic-ff;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {

  .features {
    padding-top: 57px;
    padding-bottom: 23px;


    &__list {
      margin-bottom: 73px;
      padding-right: 10px;
    }
    
    &__img {
      max-height: 519px;
      max-width: 600px;
    }

    &__title {
      margin-bottom: 44px;
    }
  }

  .item:first-child > .item__title {
    margin-bottom: 0;
  }

  .item:not(:last-child) {
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .features {
    &__img {
      max-width: 700px;
    }
  }
}

@media screen and (min-width: 993px) {

  .you-get {
    background-color: $bg-you-get;
  }

  .features {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 88px;
    padding-bottom: 55px;
    height: 775px;

    &__list,
    &__title,
    &__img-you-get {
      margin-bottom: auto;
    }

    &__list,
    &__title,
    &__img-you-get {
      width: calc(100% / 2);
    }

    &__title {
      order: 3;
      margin-bottom: 11px;
      padding-left: 1%;
      text-align: left;
    }

    &__img-you-get {
      order: 2;
    }
  }

  .item:first-child {
    margin-bottom: 70px;
  }

  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1310px) {
  .features {
    height: 730px;
   

    &__title,
        &__img-you-get {
          width: 55%;
        }
      
        &__title {
          padding-left: 2%;
        }
      
    &__list {
      width: 45%;
    } 
  }
}