@media (max-width: 992px) {
    .clients {
        padding: 85px 10px 50px;

        &__title {
            font-size: 42px;
            line-height: 48px;
            text-align: center;
        }

        &__list {
            &__item {
                width: calc(50% - 50px);
                max-width: 355px;
                padding-bottom: 85px;
            }
        }

        &__info::after {
            width: 75%;
        }
    }
}