@media (max-width: 480px) {
    .clients {
        padding: 55px 10px 40px;

        &__title {
            font-size: 36px;
        }

        &__list {
            &__item {
                width: calc(100% - 60px);
                padding-bottom: 45px;
            }
        }

        &__info {
            margin: 0 25px;

            &::after {
                width: 100%;
            }
        }
    }
}