.clients {
    @include background-image-style;
    background-image: url(../img/clients-main-img.png);
    padding: 105px 35px 50px;

    &__container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: $basic-ff;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #fff;
    }

    &__list {
        margin-top: 75px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

        &__item {
            width: calc(33% - 50px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 110px;

            &--comment {
                font-family: $minor-ff;
                padding-top: 30px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                font-style: italic;
                text-align: center;
                color: #fff;

            }
        }
    }

    &__info {
        font-family: $minor-ff;
        font-size: 14px;
        line-height: 21px;
        max-width: 890px;
        text-align: center;
        color: #A291A5;
        position: relative;

        &::after {
            content: '';
            display: block;
            background: #645766;
            width: 85%;
            height: 2px;
            position: absolute;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
        }
    }

}