body::-webkit-scrollbar {
    display: none;
}

.header {
    background-image: url(../img/header-main-img.png);
    text-align: center;
    margin-bottom: 100px;
    @include background-image-style;
    
    &__nav {
        padding: 30px 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        display: flex;
        align-items: center;

        &--title {
            font-family: $minor-ff;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            color: $main-color;

            position: relative;
            margin-left: 60px;
            
            &::before {
                content: url(../img/header-logo.png);
                position: absolute;
                top: 50%;
                transform: translate(calc(-100% - 17px), -50%);
            }
        }
    }

    &__menu-wrapper {
        width: calc(100vw - 358px);
        display: flex;
        justify-content: flex-end;

    }

    &__menu {
        width: calc(100% - 185px);
        max-width: 517px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;

        &__item {
            font-family: $basic-ff;
            @include header-text-style;
            color: $main-color;
        }

        &__btn {
            padding: 11px 25px;
            width: 145px;
            background-color: $main-color;
            border: none;
            border-radius: 20px;
    
            font-family: $basic-ff;
            @include header-text-style;
            
            color: #fff;
        }
    }

    &__show-menu-btn {
        display: none;
    }


    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 85px;
        margin-bottom: 460px;

        &--title {
            font-family: $basic-ff;
            font-size: 82px;
            line-height: 82px;
            font-weight: 700;
            color: #fff;
        }
        
        &--adverticement {
            font-family: $minor-ff;
            font-size: 30px;
            line-height: 30px;
            margin: 20px 0;
            color: $main-color;
        }

        &--version {
            font-family: $basic-ff;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 16px;
            color: $secondary-color;

        }
    }

    &__offer-btn {
        padding: 23px 61px;
        background-color: $main-color;
        border: 2px solid $main-color;
        border-radius: 31px;

        font-family: $basic-ff;
        font-size: 21px;
        line-height: 22px;
        font-weight: 700;
        color: #fff;
        
        position: relative;
        transform: translateY(50%);
        
        &::after {
            content: 'Unlimited 30-Days Trial Period';
            font-size: 14px;
            line-height: 15px;
            font-weight: 400;
            color: $secondary-color;
        
            position: absolute;
            top: calc(100% + 20px);
            left: 0%;
            transform: translate(50%);
        }
    }
}