@media (min-width: 481px) {
    .header {
        &__logo--title {
            &:hover {
                color: #fff;
    
                ::before {
                    content: url(../img/header-logo-hover.png);
                    position: absolute;
                    top: 50%;
                    transform: translate(calc(-100% - 17px), -50%);
                }
            }
        }
    
        &__menu {
            &__item:hover {
                color: #fff;
            }
            
            &__btn:hover {
                background-color: #fff;
                color: $main-color;
            }
        }
    }
}

.header__offer-btn:hover {
    background-color: #fff;
    border: 2px solid $main-color;
    color: $main-color;
}