@media (max-width: 992px) {
    .header {
        
        &__nav {
            background-color: #27262A;
            padding: 24px 20px 55px 20px;
            position: relative;
        }

        &__menu {
            position: absolute;
            min-width: 421px;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%,100%);
        }

        &__section {
            margin-top: 70px;
            margin-bottom: 408px;
            padding: 0 10px;

            &--title {
                font-size: 72px;
                line-height: 72px;
            }
            
            &--adverticement {
                font-size: 24px;
                line-height: 24px;
            }

            &--version {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}