@media (max-width: 480px) {
    .header {
        &__nav {
            padding: 35px 16px;
        }

        &__logo {
            width: 41px;
        }

        &__logo--title {
            visibility: hidden;
            &::before {
                visibility: visible
            }
        }

        &__menu {
            display: inline-block;
            min-width: 290px;
            width: 290px;
            top: 107px;
            left: calc(100% - 10px);
            transform: translate(-100%,0);
            background-color: #333;

            &--hidden {
                display: none;
            }

            &__item {
                font-size: 26px;
                line-height: 26px;
                font-weight: 400;
                padding: 30px 0 20px 35px;
                text-align: start;
                border-bottom: 3px solid #3b3b3b;
                color: #fff;
                position: relative;

                &--active {
                    color: $main-color;
                    &::before {
                        content: '';
                        display: inline-block;
                        background-color: $main-color;
                        width: 8px;
                        height: 53px;
                        position: absolute;
                        left: 2px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &__menu__btn {
            min-width: 120px;
            padding: 10px;
            font-size: 15px;
            transform: translateX(50%);
        }

        &__show-menu-btn {
            display: inline-block;
            font-size: 24px;
            border: none;
            background: none;
            color: #fff;
            cursor: pointer;
        }

        &__section {
            margin-top: 50px;
            margin-bottom: 370px;

            &--title {
                font-size: 48px;
                line-height: 48px;
            }

            &--adverticement {
                font-family: $basic-ff;
                text-transform: capitalize;
                font-size: 18px;
            }
        }

        &__offer-btn {
            font-size: 18px;
            line-height: 20px;

            padding: 13px 29px;

            &::after {
                transform: translate(17%);
            }
        }
    }
}