html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $basic-ff;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -12px;
}


