$main-color: #8D81AC;
$secondary-color: #848E97;

// добавил свои
$basic-ff: 'Montserrat', 'Arial', sans-serif;
$minor-ff: 'Lato','Arial', sans-serif;
$bold-fw: 700;
$dark-text-color: #323232;
$editor-title-color: #635C73; 
$light-color: #FFFFFF;
$dark-color: #000000;
$line-color: #8D81AC;
$text-color: #848E97;
$bg-you-get: #F4F4F4;
$currency-select: #463048;

