@mixin header-text-style {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
}

@mixin background-image-style {
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

@mixin max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.-u-container-wrapper {
    @include max-width;
} 

// Добавил свои

  
  @mixin pseudo-elem {
    display: block;
    content: '';
  }