.you-get {
  &__img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.features {
  padding-right: 0;
  text-align: center;

  &__title {
    padding-right: 10px;
    font-weight: bold;
    color: $line-color;
  }

   &__img-you-get {
    overflow: hidden;
  }

   &__list {
    list-style: none;
  }

  &__img {
    margin-left: auto;
    max-width: 700px;
  }
}

.item {

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: $dark-text-color;
  }

  &__title::before {
    @include pseudo-elem;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title--loupe::before {
    margin-bottom: 25px;
    height: 64px;
    width: 111px;
    background-image: url("../img/loupe-icon.png");
  }

  &__title--gauge::before {
    margin-bottom: 19px;
    height: 80px;
    width: 90px;
    background-image: url("../img/gauge-icon.png");
  }

  &__title--vial::before {
    margin-bottom: 18px;
    height: 84px;
    width: 60px;
    background-image: url("../img/vial-icon.png");
  }

  &__title--tracker::before {
    margin-bottom: 20px;
    height: 71px;
    width: 71px;
    background-image: url("../img/tracker-icon.png");
  }

  &__text {
    line-height: 21px;
    font-size: 14px;
    color: $text-color;
  }
}
